div,p{
  display: inline-block;
}
h1{
  font-family: 'Merriweather', serif;
  margin: 0;
  font-size: 2.5rem;
}
body{
  background-color: #BBD5ED;
  text-align: center;
  height: 100%;
}
html{
  height: 100%;
}
.timer-border
{
  margin-top: 8%;
  width: 75%;
  height: 72%;
  background-color: #FFA9A3;
  position: relative;
  border: solid black;
  border-radius: 10% 10% 10% 10%;
}

.timer-block
{
  margin-top: 1.75rem;
  height: 30%;
  width:24%;
}

p{
  font-size: 2.5rem;
  margin-top: 4rem;
}
/*#H{
  position: absolute;
  left: 28.25%;
}
#M{
  position: absolute;
  left: 63.25%;
}
#S{
  position: absolute;
  left: 97.5%;
}
*/

#hour1{
position: absolute;
left:3%;
}

#minute1{
position: absolute;
left:39%;
}

#second1{
position: absolute;
left:74%;
}

.semicolonf{
  position: absolute;
  left:31.5%;

}
.semicolons{
  position: absolute;
  left:67.5%;

}
#semicolon{
  background-color: #000000;
  width:1%;
  height: 11rem;
}
.enter{
  position: absolute;
  left: 35%;
  bottom: 15%;
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
}

.hr{
  margin-top:11rem;
  background-color: #000000;
  width:100%;
  height:0.1875rem;
}
#start{
  width: 10%;
  height: 2.35rem;
  font-size: 100%;
  margin: 1rem;
}
#stop{
  width: 10%;
  height: 2.35rem;
  font-size: 100%;
  margin: 1rem;
}
#reset{
  width: 10%;
  height: 2.35rem;
  font-size: 100%;
  margin: 1rem;
}

#go{
  position: absolute;
  bottom: 5%;
  height: 10%;
  width: 5.5%;
  left:58%;
  font-size: 100%;
  border-radius: 100%;
}
.in{
  position: absolute;
  height: 10%;
  width: 18%;
  font-size: 200%;
  left: 37%;
  bottom: 5%;
}
.time{
  margin: 1%;
  width: 90%;
  height: 80%;
  background-color: #000000;
  color: yellow;
  text-align: center;
  font-size: 400%;
}
@media (max-width:1028px) {
  div{
  font-size:12px;
}
.enter{
  font-size: 12px;
}

}
